<div
  *ngrxLet="{ teams: allTeams$, numberOfTrackingDays: nbaService.numberOfTrackingDays$ } as vm; suspenseTpl: teamLoader"
  class="row"
>
  <app-team-search-bar
    [teams]="vm.teams"
    (teamIdSelected)="trackTeam($event)"
    [numberOfTrackingDays]="vm.numberOfTrackingDays"
    (numberOfTrackingDaysChange)="nbaService.setNumberOfTrackingDays($event)"
    class="col-sm-11"
  />
</div>
<ng-template #teamLoader>Teams are loading...</ng-template>
<div class="row">
  <app-team-stats class="col-sm-4" *ngFor="let team of nbaService.getTrackedTeams()" [team]="team" />
</div>
