<div class="row">
  <div class="col-sm-11">
    <select ngModel="" #conferenceSelect="ngModel">
      <option value="">All conferences</option>
      <option [value]="conference" *ngFor="let conference of CONFERENCES">
        {{ conference }}
      </option>
    </select>

    <select ngModel="" #divisionSelect="ngModel">
      <option value="">All divisions</option>
      <option
        *ngFor="
          let divisionInfo of DIVISIONS
            | shapeFilter
              : {
                  conference: conferenceSelect.value | falsyToUndefined
                };
          trackBy: trackByDivision
        "
        [value]="divisionInfo.division"
      >
        {{ divisionInfo.division }}
      </option>
    </select>

    <ng-container *ngrxLet="teams$; let teams; suspenseTpl: teamLoader">
      <select ngModel="0" #teamSelect="ngModel">
        <option value="0">Select a team</option>
        <option
          [value]="team.id"
          *ngFor="
            let team of teams
              | shapeFilter
                : {
                    conference: conferenceSelect.value | falsyToUndefined,
                    division: divisionSelect.value | falsyToUndefined
                  };
            trackBy: trackByTeamId
          "
        >
          {{ team.full_name }}
        </option>
      </select>

      <button class="primary" [disabled]="teamSelect.value === '0'" (click)="trackTeam(teamSelect.value)">
        Track team
      </button>
    </ng-container>
    <ng-template #teamLoader>Teams are loading...</ng-template>

    <span>for the last</span>

    <select
      [ngModel]="nbaService.numberOfTrackingDays$ | async"
      (ngModelChange)="nbaService.setNumberOfTrackingDays($event)"
    >
      <option value="6">6 days</option>
      <option value="12">12 days</option>
      <option value="20">20 days</option>
    </select>
  </div>
</div>
<div class="row">
  <app-team-stats class="col-sm-4" *ngFor="let team of nbaService.getTrackedTeams()" [team]="team"> </app-team-stats>
</div>
