<div class="card" *ngIf="games$ | async as games">
  <div>
    <h3>
      {{ team.full_name }} [{{ team.abbreviation }}]
      <span (click)="confirmDialog.show()" class="close-icon">&times;</span>
    </h3>
    <h6>{{ team.conference }}ern conference</h6>
  </div>
  <hr />
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p>Results of past 12 days:</p>
        <p>
          <mark class="tag" *ngFor="let result of stats.lastGames" [class]="result">{{ result }}</mark>
        </p>
        <p>
          Avg pts scored: <strong>{{ stats.averagePointsScored }}</strong>
        </p>
        <p>
          Avg pts conceded: <strong>{{ stats.averagePointsConceded }}</strong>
        </p>
      </div>
      <div class="col-sm-6">
        <img src="https://interstate21.com/nba-logos/{{ team.abbreviation }}.png" [alt]="'logo of ' + team.full_name" />
      </div>
    </div>
  </div>
  <div>
    <button class="tertiary" [routerLink]="['/results', team.abbreviation]">See game results >></button>
  </div>

  <app-generic-dialog title="Confirmation Dialog" #confirmDialog>
    <ng-container>Are you sure to remove tracking of team {{ team.full_name }} ?</ng-container>
    <ng-container actions>
      <button class="secondary" (click)="confirmDialog.close()">No</button>
      <button class="primary" (click)="nbaService.removeTrackedTeam(team); confirmDialog.close()">Yes</button>
    </ng-container>
  </app-generic-dialog>
</div>
